.movie_container{
    background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
    background-size: 300% 300%;
    animation: gradientBG 6s ease infinite;
    color: white;
    padding: 1rem;

}

.no-movie-found {
    text-align: center;
    font-size: 1.8rem; /* Slightly larger font size */
    font-weight: bold;
    color: #e74c3c; /* A more vibrant red */
    margin-top: 20px;
    animation: fadeIn 2s ease-in-out;

    /* Centering the message vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Full viewport height */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.book-btn {
    background: linear-gradient(to right, #feda75, #fc490f, #f56040); /* Instagram gradient color */
    color: white; /* Text color */
    font-weight: bold; /* Optional: makes text bold */
    border-radius: 5px; /* Optional: rounded corners */
    padding: 12px 0; /* Adds padding to the button */
    text-transform: uppercase; /* Optional: makes text uppercase */
    transition: background 0.3s ease; /* Smooth transition for hover effect */
}

.book-btn:hover {
    background: linear-gradient(to right, #f56040, #fc490f, #feda75); /* Inverted gradient on hover */
    cursor: pointer;
}
.movie-card {
    position: relative;
    border: 1px solid transparent; /* Initial transparent border */
     /* Optional: rounded corners */
    transition: border 0.3s ease; /* Smooth transition for border */
}

.movie-card:hover {
    border-width: 3px; /* Increase border width on hover */
    
    
    border-image: linear-gradient(to right, #feda75, #fc490f, #f56040) 1; /* Gradient border */
}

.page-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Full viewport height */
    width: 100vw;
    /* Full viewport width */
    position: fixed;
    /* Ensure it stays in place */
    top: 0;
    left: 0;
    background-color: #ffffff;
    /* Optional background for contrast */
    z-index: 1000;
    /* Ensure it's above other content */
}

.dot-loader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    /* Space between dots */
}

.dot-loader div {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background: linear-gradient(45deg, #f09433, #bc2a8d, #8a3ab9, #feda75);
    border-radius: 50%;
    animation: bounce 1.4s infinite ease-in-out;
}

.dot-loader div:nth-child(1) {
    animation-delay: -0.32s;
}

.dot-loader div:nth-child(2) {
    animation-delay: -0.16s;
}

.dot-loader div:nth-child(3) {
    animation-delay: 0s;
}

@keyframes bounce {

    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}

/* movie detail bg theme */

